@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
*/

html, body{
    margin: 0px;
    padding : 0px;
    font-family: 'Nanum Gothic', sans-serif;
}

#sidebar{
    width: 100%;
    height: 80px;
    min-width: 1125px;
    margin: 0px;
    padding: 0px;
    position:absolute;
    -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.3);
}

#mainpage{
    width: 100%;
    padding: 100px 0px 0px 0px;
}


.sidebar_menu{
    width: 200px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color:black;
}
.sidebar_menu_on{
    width: 200px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    color:white;
}

.sidemenu_div a{
    color:black;
    text-decoration: none;
}
.sidebar_menu:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
}

.sidemenu_div{
    width:200px;
    height: 80px;
    display: inline-block;
}

.sidebar_non_menu{
    width: 200px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.login_input{
    width: 385px;
    height: 40px;
    padding: 0 0 0 15px;
    margin:0px;
    font-weight: 100;
}
.login_submit{
    background-color:gray;
    color:white;
    width:405px;
    height:40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border : none;
}

#img_logo{
    width: 80px;
    height: 80px;
}

#box{
    width: 400px;
    padding: 10px;
    margin:auto;
    border-radius: 5px;
}

#loginbox{
    width:410px;
    padding: 0px;
    margin: auto;
}

h1{
    margin: auto;
}
#mainpage{
    min-width: 1125px;
}

.introduce1{
    width:400px;
    height:auto;
    margin:auto;
}

.bigsent{
    font-size: 1.5em;
    font-weight: bold;
}

.boxbox{
    width:400px;
    padding: 10px;
    margin:auto;
    text-align: center;
}