td{
    border: 1px solid black;
    width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

div{
    width: 638px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}